.menu{
	width: 100%;
	height: 45px;
	background-color: cadetblue;
}

.menu-con{
	background-color: darkgray;
	color: black;
}

.menu-vertical{
	background: #ffffff;
	margin: 35px 0;
	border: 2px solid #e6e6e6;
	border-radius: 10px;
	padding-bottom: 50px;
	text-align: center;

}

.tab-content{
	margin: 35px 0px;
}

.tab-content.active {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.room-info, .menu-vertical, .manage-orders {
    background: #FFFFFF;
    margin: 35px 0;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    padding-bottom: 50px;
}

.info{
	margin: 0px 30px;
}

.form-group {
    margin-bottom: 15px;
}