header .navbar-right {
    padding-right: 50px;
}

footer {
    background: #03b8ff;
}

footer .col-sm-3{
    height: 250px;
}

#values .col-sm-4 {
    height: 300px;
    text-align: center;
    line-height: 300px;
    border: 1px solid #555555;
}

.space-50 {
    height: 50px;
}